.navbar{
    display: flex;
    justify-content: center; 
    background-color: rgb(29, 29, 29);
    padding: 1em;
    text-align: center;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    text-decoration: none;
    color: white;
}

.item a:hover {
    color: aliceblue;
}

